.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: grey;
  height: 90vh;
}

.row {
  width: 100%;
}

.clearfix::before, .clearfix::after,
.row::before,
.row::after {
  display: table;
  content: "";
}
.clearfix::after,
.row::after {
  clear: both;
}

.col {
  float: left;
  height: 50px;
  padding: 10px;
  border: 3px solid white;
  overflow: hidden;
}
.col.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.col:last-child {
  float: right;
}

.s-12 {
  width: 100%;
  background-color: blue;
}

.s-11 {
  width: calc(100%/12*11);
  background-color: darkgrey;
}

.s-10 {
  width: calc(100%/12*10);
  background-color: green;
}

.s-9 {
  width: calc(100%/12*9);
  background-color: purple;
}

.s-8 {
  width: calc(100%/12*8);
  background-color: goldenrod;
}

.s-7 {
  width: calc(100%/12*7);
  background-color: lightgreen;
}

.s-6 {
  width: calc(100%/12*6);
  background-color: red;
}

.s-5 {
  width: calc(100%/12*5);
  background-color: crimson;
}

.s-4 {
  width: calc(100%/12*4);
  background-color: pink;
}

.s-3 {
  width: calc(100%/12*3);
  background-color: lightblue;
}

.s-2 {
  width: calc(100%/12*2);
  background-color: cyan;
}

.s-1 {
  width: calc(100%/12*1);
  background-color: darkgreen;
}

@media screen and (min-width: 40em) {
  .m-12 {
    width: 100%;
    background-color: blue;
  }

  .m-11 {
    width: calc(100%/12*11);
    background-color: darkgrey;
  }

  .m-10 {
    width: calc(100%/12*10);
    background-color: green;
  }

  .m-9 {
    width: calc(100%/12*9);
    background-color: purple;
  }

  .m-8 {
    width: calc(100%/12*8);
    background-color: goldenrod;
  }

  .m-7 {
    width: calc(100%/12*7);
    background-color: lightgreen;
  }

  .m-6 {
    width: calc(100%/12*6);
    background-color: red;
  }

  .m-5 {
    width: calc(100%/12*5);
    background-color: crimson;
  }

  .m-4 {
    width: calc(100%/12*4);
    background-color: pink;
  }

  .m-3 {
    width: calc(100%/12*3);
    background-color: lightblue;
  }

  .m-2 {
    width: calc(100%/12*2);
    background-color: cyan;
  }

  .m-1 {
    width: calc(100%/12*1);
    background-color: darkgreen;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: black;
}
