.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: lightgrey;
  height: 90vh;
}

.flex-center-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  max-width: 100%;
}

.row {
  min-height: 20px;
  width: 100%;
}

.float-left {
  float: left;
  margin-right: 0.5em;
}

.float-right {
  float: right;
}

.clearfix::before, .clearfix::after,
.row::before,
.row::after {
  display: table;
  content: "";
}
.clearfix::after,
.row::after {
  clear: both;
}

.col {
  width: 100%;
  float: left;
  overflow: hidden;
}
.col.center-content .col-margin {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-margin {
  margin: calc(0.5em / 2);
  padding: 2em;
  background-color: white;
}

.s-12 {
  width: 100%;
}

.s-11 {
  width: calc(100%/12*11);
}

.s-10 {
  width: calc(100%/12*10);
}

.s-9 {
  width: calc(100%/12*9);
}

.s-8 {
  width: calc(100%/12*8);
}

.s-7 {
  width: calc(100%/12*7);
}

.s-6 {
  width: calc(100%/12*6);
}

.s-5 {
  width: calc(100%/12*5);
}

.s-4 {
  width: calc(100%/12*4);
}

.s-3 {
  width: calc(100%/12*3);
}

.s-2 {
  width: calc(100%/12*2);
}

.s-1 {
  width: calc(100%/12*1);
}

@media screen and (min-width: 640px) {
  .col-margin {
    margin: 0.5em;
  }

  .m-12 {
    width: 100%;
  }

  .m-11 {
    width: calc(100%/12*11);
  }

  .m-10 {
    width: calc(100%/12*10);
  }

  .m-9 {
    width: calc(100%/12*9);
  }

  .m-8 {
    width: calc(100%/12*8);
  }

  .m-7 {
    width: calc(100%/12*7);
  }

  .m-6 {
    width: calc(100%/12*6);
  }

  .m-5 {
    width: calc(100%/12*5);
  }

  .m-4 {
    width: calc(100%/12*4);
  }

  .m-3 {
    width: calc(100%/12*3);
  }

  .m-2 {
    width: calc(100%/12*2);
  }

  .m-1 {
    width: calc(100%/12*1);
  }
}
@media screen and (min-width: 320px) {
  .l-12 {
    width: 100%;
  }

  .l-11 {
    width: calc(100%/12*11);
  }

  .l-10 {
    width: calc(100%/12*10);
  }

  .l-9 {
    width: calc(100%/12*9);
  }

  .l-8 {
    width: calc(100%/12*8);
  }

  .l-7 {
    width: calc(100%/12*7);
  }

  .l-6 {
    width: calc(100%/12*6);
  }

  .l-5 {
    width: calc(100%/12*5);
  }

  .l-4 {
    width: calc(100%/12*4);
  }

  .l-3 {
    width: calc(100%/12*3);
  }

  .l-2 {
    width: calc(100%/12*2);
  }

  .l-1 {
    width: calc(100%/12*1);
  }
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: black;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
  font-weight: bold;
}

p {
  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-text {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: calc(2em / 2);
  background-color: crimson;
}
