/* ---------- Default font size of the whole page (declares what 1rem is) ---------- */
/* ---------- Default margin and padding for most elements ---------- */
/* ---------- Default body background-color ---------- */
/* ---------- Default container width ---------- */
/* ---------- Size of responsive Grid Media Queries: ---------- */
/* everything below the value of $medium = small */
/* value of $min decides under what value everything should be full screen width */
/* ---------- Remove any files you don't want to use ---------- */
.container {
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.center-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shadow {
  padding: calc(2rem / 2);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
}

.row {
  min-height: 20px;
  width: 100%;
  padding: 0 calc(2rem / 6);
}

.float-left {
  float: left;
  margin-right: 0.5rem;
}

.float-right {
  float: right;
}

.clearfix::before, .clearfix::after,
.row::before,
.row::after {
  display: table;
  content: "";
}
.clearfix::after,
.row::after {
  clear: both;
}

.col {
  width: 100%;
  float: left;
  overflow: hidden;
  padding: calc(2rem / 1.2);
}

.s-12 {
  width: 100%;
}

.s-11 {
  width: calc(100%/12*11);
}

.s-10 {
  width: calc(100%/12*10);
}

.s-9 {
  width: calc(100%/12*9);
}

.s-8 {
  width: calc(100%/12*8);
}

.s-7 {
  width: calc(100%/12*7);
}

.s-6 {
  width: calc(100%/12*6);
}

.s-5 {
  width: calc(100%/12*5);
}

.s-4 {
  width: calc(100%/12*4);
}

.s-3 {
  width: calc(100%/12*3);
}

.s-2 {
  width: calc(100%/12*2);
}

.s-1 {
  width: calc(100%/12*1);
}

@media screen and (min-width: 640px) {
  .row {
    padding: 0 calc(2rem / 1.5);
  }

  .col {
    padding: calc(2rem / 1.1);
  }

  .shadow {
    padding: calc(2rem / 1.5);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  }

  .m-12 {
    width: 100%;
  }

  .m-11 {
    width: calc(100%/12*11);
  }

  .m-10 {
    width: calc(100%/12*10);
  }

  .m-9 {
    width: calc(100%/12*9);
  }

  .m-8 {
    width: calc(100%/12*8);
  }

  .m-7 {
    width: calc(100%/12*7);
  }

  .m-6 {
    width: calc(100%/12*6);
  }

  .m-5 {
    width: calc(100%/12*5);
  }

  .m-4 {
    width: calc(100%/12*4);
  }

  .m-3 {
    width: calc(100%/12*3);
  }

  .m-2 {
    width: calc(100%/12*2);
  }

  .m-1 {
    width: calc(100%/12*1);
  }
}
@media screen and (min-width: 960px) {
  .row {
    padding: 0 2rem;
  }

  .col {
    padding: 2rem;
  }

  .l-12 {
    width: 100%;
  }

  .l-11 {
    width: calc(100%/12*11);
  }

  .l-10 {
    width: calc(100%/12*10);
  }

  .l-9 {
    width: calc(100%/12*9);
  }

  .l-8 {
    width: calc(100%/12*8);
  }

  .l-7 {
    width: calc(100%/12*7);
  }

  .l-6 {
    width: calc(100%/12*6);
  }

  .l-5 {
    width: calc(100%/12*5);
  }

  .l-4 {
    width: calc(100%/12*4);
  }

  .l-3 {
    width: calc(100%/12*3);
  }

  .l-2 {
    width: calc(100%/12*2);
  }

  .l-1 {
    width: calc(100%/12*1);
  }
}
@media screen and (max-width: 300px) {
  .col {
    width: 100%;
  }
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: bold;
  margin-bottom: calc(0.5rem / 2);
}

p {
  font-size: 1em;
  font-weight: normal;
}

.center-text {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.05rem;
}

h6 {
  font-size: 1.005rem;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: crimson;
}
