// Default colors
$color-material-blue: #2196F3
$color-black: #000
$color-white: #fff

// Default font properties of the whole page (declares what 1rem is)
$font: Roboto
$font-size: 16px
$text-color: $color-black

// Default html background-color
$html-background-color: #e1e1e1

// Default margin and padding for most elements
$margin: 0.5rem
$padding: 2rem

// how far rows should be apart
$grid--row-margin-bottom: 4rem




// Size of responsive Grid Media Queries:
// everything below the value of $medium = small
// value of $min decides under what value everything should be full screen width
$screen--min: 300px
$screen--small: 420px
$screen--medium: 640px
$screen--large: 960px





// Selector names ==========================================================================
// Here you can change the names of the selectors
// =======================================================================================

// Grid selectors ----------------------------------------------------------------------------
$grid--prefix: "grid--"
$grid--row: "row"
$grid--col: "col"
//these three default to: grid--row and grid--col

// Wrapper - defines max-width of element that it is applied to
$grid--wrapper: "wrapper"
// defaults to: grid--wrapper

// Default container width
$grid--wrapper-width: 1080px

// Nav selectors --------------------------------------------------------------------------
$nav--prefix: "nav--"
$nav--inline-list: "inline"
$nav--responsive-sidebar: "responsive-sidebar"
$nav--responsive-sidebar-toggle: "toggle"
$nav--responsive-sidebar-toggle-icon: "toggle-icon"


// Button selectors ---------------------------------------------------------------------
$button--prefix: "button--"
$button--material: "material"
$button--material--round: "round"
$button--material--round--to-straight: "to-straight"


// Files ===================================================================================
// Remove any files you don't want to use
// =======================================================================================
@import grid
@import typography
@import elements/navigation
@import elements/buttons
@import elements/forms
