/* ---------- Default font size of the whole page (declares what 1rem is) ---------- */
$font-size: 16px
$text-color: #000
/* ---------- Default margin and padding for most elements ---------- */
$margin: 0.5rem
$padding: 2rem

/* ---------- Default body background-color ---------- */
$background-color: crimson

/* ---------- Default container width ---------- */
$container-width: 1080px
/* ---------- Size of responsive Grid Media Queries: ---------- */
/* everything below the value of $medium = small
/* value of $min decides under what value everything should be full screen width
$min: 300px
$medium: 640px
$large: 960px






/* ---------- Remove any files you don't want to use ---------- */
@import grid
@import typography
@import elements/navigation
@import elements/buttons
