.container
    max-width: 960px
    margin: 0 auto
    background-color: grey
    height: 90vh
.row
    width: 100%
// added a clearfix for floating elements
.clearfix,
.row
    &::before,
    &::after
        display: table
        content: ""
    &::after
        clear: both
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1
    // instead of using flexbox i decided to use float for the grid system. This way i can easily apply display styles without disrupting the grid.
    float: left
    height: 50px
    padding: 10px
    &.center
        display: flex
        justify-content: center
.col-12
    width: 100%
    background-color: blue
.col-11
    width: calc(100%/12*11)
    background-color: black
.col-10
    width: calc(100%/12*10)
    background-color: green
.col-9
    width: calc(100%/12*9)
    background-color: purple
.col-8
    width: calc(100%/12*8)
    background-color: goldenrod
.col-7
    width: calc(100%/12*7)
    background-color: lightgreen
.col-6
    width: calc(100%/12*6)
    background-color: red
.col-5
    width: calc(100%/12*5)
    background-color: crimson
.col-4
    width: calc(100%/12*4)
    background-color: pink
.col-3
    width: calc(100%/12*3)
    background-color: lightblue
.col-2
    width: calc(100%/12*2)
    background-color: cyan
.col-1
    width: calc(100%/12*1)
    background-color: darkgreen
