.container
    max-width: 960px
    margin: 0 auto
    background-color: grey
    height: 90vh
.row
    width: 100%
    display: flex
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1
    height: 50px
    padding: 10px
    &.center
        display: flex
        justify-content: center
.col-12
    flex-grow: 12
    background-color: blue
.col-11
    flex-grow: 11
    background-color: black
.col-10
    flex-grow: 10
    background-color: green
.col-9
    flex-grow: 9
    background-color: purple
.col-8
    flex-grow: 8
    background-color: goldenrod
.col-7
    flex-grow: 7
    background-color: lightgreen
.col-6
    flex-grow: 6
    background-color: red
.col-5
    flex-grow: 5
    background-color: crimson
.col-4
    flex-grow: 4
    background-color: pink
.col-3
    flex-grow: 3
    background-color: lightblue
.col-2
    flex-grow: 2
    background-color: cyan
.col-1
    flex-grow: 1
    background-color: darkgreen
