body
    font-family: Roboto, Arial, sans-serif
    color: black
    font-size: $font-size
h1,
h2,
h3,
h4,
h5,
h6
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
    color: inherit
    font-weight: bold
p
    font-size: 1em
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
.center-text
    text-align: center
